.task-completed {
    text-decoration-line: line-through;
}

.row {
    text-align: center;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px 10px 5px 10px; 
    border: solid 1px #777;
}

.deleteButton {
    padding: 2px 20px 2px 20px;
    width: auto;
}

svg {
    pointer-events: none;
    
}