form {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

div {
    padding-bottom: 15px;
}

button {
    display: inline-block;
    margin-right: 0.3338%;
    width: 33%;
}

table {
    width: 100%;
}