button {
    display: inline-block;
    margin-right: 0.3338%;
    width: 100%;
}

form {
    padding: 5px 5px 5px 5px;
    max-width: 100%;
	text-align: center;
}

div {
    padding-bottom: 15px;
}

p {
    text-align: center;
}

table {
    width: 100%;
}

.container {
    display: grid;
    height: 100vh;
}

.contButton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
}

.input {
    margin: auto;
    display: block;
    border-width: 0px;
}

h3 {
    display: inline-block;
}
