#containerDelete {
    border: 1px solid black;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}

button {
    display: inline-block;
    margin-right: 0.3338%;
    width: 100%;
}

form {
    padding: 5px 5px 5px 5px;
    max-width: 100%;
	text-align: center;
}

p {
    text-align: center;
}

table {
    width: 100%;
}

select {
    font-size: 2vw;
}

.container {
    display: grid;
    height: 100vh;
}

.contButton {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 1%;
    border: 1px dashed brown;
    padding-top: 1%;
}

.input {
    margin: auto;
    display: block;
    border-width: 0px;
}

.mainButton {
    margin: auto 3% auto 3%;
    width: 90%;
    font-size: 2vw;
}

h3 {
    display: inline-block;
}
